### **Limpieza del dataset del clima**

- 1. Eliminar columnas innecesarias.
- 2. Transformar "year-month-date" en "fecha".
- 3. Acotar el período de tiempo.
- 4. Renombrar columnas.
- 5. Exportar csv.

In [1]:
import pandas as pd
df_clima = pd.read_csv('clima_diario_aeroparque_2025.csv')

---

#### 1. Eliminar columnas innecesarias

In [2]:
df_clima.head()

,year,month,day,temp,temp_source,tmin,tmin_source,tmax,tmax_source,rhum,...,prcp,prcp_source,snwd,snwd_source,wspd,wspd_source,pres,pres_source,cldc,cldc_source
0,2025,1,1,25.4,ghcnd,22.8,ghcnd,29.1,isd_lite,76,...,3.9,metno_forecast,NaN,NaN,13.0,isd_lite,1008.2,isd_lite,5.0,isd_lite
1,2025,1,2,26.3,ghcnd,20.0,ghcnd,31.5,isd_lite,49,...,0.0,metno_forecast,NaN,NaN,10.3,isd_lite,1007.5,isd_lite,1.0,isd_lite
2,2025,1,3,22.9,ghcnd,17.2,ghcnd,31.6,ghcnd,44,...,0.0,metno_forecast,NaN,NaN,10.1,isd_lite,1010.2,isd_lite,0.0,isd_lite
3,2025,1,4,20.9,ghcnd,16.3,ghcnd,28.1,ghcnd,68,...,0.0,metno_forecast,NaN,NaN,13.8,isd_lite,1013.4,isd_lite,1.0,isd_lite
4,2025,1,5,21.3,ghcnd,17.8,ghcnd,23.2,isd_lite,71,...,0.0,metno_forecast,NaN,NaN,18.0,isd_lite,1014.8,isd_lite,3.0,isd_lite

In [3]:
df_clima = df_clima.drop(columns=[
    "temp_source",
    "tmin_source",
    "tmax_source",
    "rhum_source",
    "prcp_source",
    "snwd",
    "snwd_source",
    "wspd_source",
    "pres_source",
    "cldc_source"
])

---

#### 2. Transformar "year-month-date" en "fecha"

In [4]:
df_clima["fecha"] = pd.to_datetime(df_clima[["year", "month", "day"]])

df_clima = df_clima.drop(columns=["year", "month", "day"])

df_clima = df_clima[["fecha", "temp", "tmin", "tmax", "rhum", "prcp", "wspd", "pres", "cldc"]]

df_clima.head()

       fecha  temp  tmin  tmax  rhum  prcp  wspd    pres  cldc
0 2025-01-01  25.4  22.8  29.1    76   3.9  13.0  1008.2   5.0
1 2025-01-02  26.3  20.0  31.5    49   0.0  10.3  1007.5   1.0
2 2025-01-03  22.9  17.2  31.6    44   0.0  10.1  1010.2   0.0
3 2025-01-04  20.9  16.3  28.1    68   0.0  13.8  1013.4   1.0
4 2025-01-05  21.3  17.8  23.2    71   0.0  18.0  1014.8   3.0

----

#### 3. Acotar el período de tiempo

In [5]:
# Inicio: 16/04/2025 - Fin: 04/09/2025
df_clima = pd.DataFrame({ "fecha":pd.date_range(start="2025-04-16", end="2025-09-04") }).merge(df_clima, on="fecha", how="left")
df_clima.tail()

         fecha  temp  tmin  tmax  rhum  prcp  wspd    pres  cldc
137 2025-08-31  16.9  15.0  18.0    93   NaN  21.2  1013.9   6.0
138 2025-09-01  13.5  11.0  18.0    84  11.0  13.1  1014.0   6.0
139 2025-09-02  12.1  10.0  14.0    83   0.0  12.9  1016.2   5.0
140 2025-09-03  13.0  11.0  17.0    77   NaN   7.8  1014.8   NaN
141 2025-09-04   9.2   6.0  12.0    50   NaN  10.9  1025.8   NaN

---

#### 4. Renombrar columnas

In [6]:
df_clima = df_clima.rename(columns={
    "tmin": "temp_min",
    "tmax": "temp_max",
    "rhum": "humedad",
    "prcp": "lluvia",
    "wspd": "viento",
    "pres": "presion",
    "cldc": "nubosidad"
})

df_clima.head()

,fecha,temp,temp_min,temp_max,humedad,lluvia,viento,presion,nubosidad
0,2025-04-16,17.1,14.3,19.5,81,0.5,10.9,1015.6,5.0
1,2025-04-17,17.0,13.5,19.7,84,16.9,12.8,1014.7,6.0
2,2025-04-18,17.2,13.3,21.1,71,2.1,8.8,1016.9,4.0
3,2025-04-19,15.4,11.0,21.7,60,0.0,8.5,1021.9,1.0
4,2025-04-20,15.0,11.7,19.5,68,0.0,8.1,1021.0,3.0

---

#### 5. Exportar csv

In [7]:
df_clima.to_csv('clima_diario_aeroparque_2025_limpio.csv', index=False)